.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color:lightblue;
    }

.item {
    width: 100px;
    height: 100px;
    text-align: center;
    color: blue;
 
}