* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #333;
    gap: 5px;
    padding: 5px;
}

.gross {
    flex: 2;
    height: 100px;
    width: 50%;
}

.klein-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.klein {
    width: 50px;
    height: 45px;
}

.mittel {
    flex: 1;
    height: 50px;
    width: 50%;
}

.gross.rot { background-color: red; }
.gross.blau{ background-color: blue; }
.mittel.gelb { background-color: yellow; }
.mittel.schwarz { background-color: black; }
.mittel.weiss { background-color: white; }
.klein.gelb { background-color: yellow; }
.klein.schwarz{ background-color: black; }

.bottom-container {
    display: flex;
    flex: 1;
    gap: 5px;
}

.bottom {
    flex: 1;
    height: 50px;
    background-color: white;
    width: 50%;
}
